{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Genres</h1>
    <div class="row">
        {% for genre in genres %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ genre.cover_url }}" class="card-img-top" alt="{{ genre.genre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ genre.genre }}</h5>
                    <p class="card-text">
                        {{ genre.song_count }} songs • {{ genre.total_streams }} streams
                    </p>
                    <a href="{{ url_for('genre_profile', genre=genre.genre) }}" class="btn btn-primary">
                        View Songs
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 